@using static RecipesShare.Cuisine.Data.Data.AllCuisineData;

@{
    ViewBag.Title = "Cuisine";
    var cuisines = Model.Cuisines;


}

@{

    <section class="popular-recipes-section">
        <div class="container">
            <h2 class="text-center mb-4">All Cuisines</h2>
            <div class="row">
                @foreach (var cuisine in cuisines)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card border border-gold">
                            <img src="@cuisine.Value" class="card-img-top" alt="Recipe Image">
                            <div class="card-body">
                                <div>
                                    <h5 class="text-center">@cuisine.Key</h5>
                                </div>
                                <a asp-area="" asp-controller="Recipe" asp-action="RecipeDetails" asp-route-id="" class="btn btn-primary cuisine-title">View Recipes</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}




