@{
    ViewBag.Title = "Cousine";
}




<section class="popular-recipes-section">
    <div class="container">
        <h2 class="text-center mb-4">All Cousines</h2>
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card border border-gold">
                    <img src="https://media.istockphoto.com/id/531564300/photo/homemade-memorial-day-hamburger-picnic.jpg?s=612x612&w=0&k=20&c=GnsgW8Yy3Sw2jNBLhSV5tWxNZIw-mCeK4J-ZcDoS-cs=" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <div>
                            <h5 class="text-center">American Cuisine</h5>
                        </div>

                        <a asp-area="" asp-controller="Recipe" asp-action="RecipeDetails" asp-route-id="" class="btn btn-primary cuisine-title">View Recipes</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

