

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Delicious Recipe</h1>
            <!-- Author Section -->
            <div class="author-section mb-4">
                <h6>Author:</h6>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img src="author-image.jpg" class="rounded-circle" alt="Author Image" style="width: 50px; height: 50px;">
                    </div>
                    <div class="col">
                        <p class="mb-0">John Doe</p>
                        <p class="text-muted">Chef & Food Enthusiast</p>
                    </div>
                </div>
            </div>
            <!-- End of Author Section -->
            <div class="card">
                <img src="recipe-image.jpg" class="card-img-top" alt="Recipe Image">
                <div class="card-body">
                    <h5 class="card-title">Recipe Title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in justo elementum, vestibulum nulla id, consequat felis. Nullam eleifend turpis vel sem tristique, id ullamcorper justo porta.</p>
                    <h6>Ingredients:</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ingredient 1</li>
                        <li class="list-group-item">Ingredient 2</li>
                        <li class="list-group-item">Ingredient 3</li>
                        <!-- Add more ingredients as needed -->
                    </ul>
                    <h6 class="mt-3">Instructions:</h6>
                    <ol>
                        <li>Step 1: Lorem ipsum dolor sit amet.</li>
                        <li>Step 2: Consectetur adipiscing elit.</li>
                        <li>Step 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        <!-- Add more steps as needed -->
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>