@* <div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="profile_picture.jpg" class="card-img-top" alt="Profile Picture">
                <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus odio eget risus luctus, a dictum libero efficitur.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location: New York</li>
                    <li class="list-group-item">Email: john@example.com</li>
                    <li class="list-group-item">Phone: +1 123-456-7890</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Edit Profile</a>
                    <a href="#" class="card-link">Change Password</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus odio eget risus luctus, a dictum libero efficitur. Integer a ante vitae quam sodales suscipit vel non lacus. Mauris a augue vitae magna scelerisque ultricies.</p>
                    <p class="card-text">Donec eget volutpat libero. Phasellus id elit consequat, suscipit lorem non, convallis neque. Nullam in orci eget odio convallis bibendum.</p>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="profile_picture.jpg" class="card-img-top profile-img" alt="Profile Picture">
                <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">Location: New York</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">First Name: John</li>
                    <li class="list-group-item">Last Name: Doe</li>
                    <li class="list-group-item">Location: New York</li>
                </ul>
                <div class="card-body">
                    <a href="ProfileFill" class="card-link">Edit Profile</a>
                    <a href="#" class="card-link">Change Password</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus odio eget risus luctus, a dictum libero efficitur. Integer a ante vitae quam sodales suscipit vel non lacus. Mauris a augue vitae magna scelerisque ultricies.</p>
                    <p class="card-text">Donec eget volutpat libero. Phasellus id elit consequat, suscipit lorem non, convallis neque. Nullam in orci eget odio convallis bibendum.</p>
                </div>
            </div>
        </div>
    </div>
</div> 

