html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.hero-section {
    background-image: url('https://t3.ftcdn.net/jpg/06/72/45/22/360_F_672452282_37w8WlNXxxgY0hxCNKEMTTj03IQE5ong.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 150px 0;
    border-radius: 0.5%;
    border: double;
    
}

/* Popular Recipes Section */
.popular-recipes-section {
    padding: 50px 0;
}

    .popular-recipes-section h2 {
        margin-bottom: 40px;
    }

.card {
    border: none;
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: translateY(-10px);
    }

/* Navigation Bar */
.navbar {
    background-color: #fff;
    
}

.navbar {
    background-color: #fff;
    padding: 0;
}


.navbar-nav li {
    position: relative;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

    .navbar li {
        position: relative;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: center; /* Change from 'stretch' to 'center' */
        padding: 10px 30px; /* Adjust padding as needed */
        color: black;
        white-space: nowrap;
        transition: 0.3s;
        font-size: 16px;
        font-weight: 500;
    }

        .navbar a i,
        .navbar a:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

.border-gold {
    border-color: gold !important;
}

.border-bottom {
    border-color: gold !important;
}

body {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Adjustments for scrollbar appearance */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 3px solid transparent;
}