<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipesShare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipesShare.styles.css" asp-append-version="true" />
</head>

<header>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 align-items-center" style="height: 80px;">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <a href="/home">
                <img src="~/images/Recipes image.png" class="img-fluid" style="width: 80%" alt="Home">

            </a>

            <div id="navbar" class="navbar align-items-center" style="margin-left: 50px">
                <ul>
                    <li><a class="nav-link" style="color: black;" href="/">RECIPES</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Menu" asp-action="Menu">FAST & EASY</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Special" asp-action="Special">EVENTS</a></li>

                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <li><a class="nav-link" asp-area="" asp-controller="Recipe" asp-action="AddRecipe">ADD RECIPE</a></li>
                    }

                    <li><a class="nav-link" asp-area="" asp-controller="Chef" asp-action="Chef">FOR US</a></li>

                </ul>  
            </div>

            <partial name="_LoginPartial" />


            <a href="/home">
                <img src="~/images/Recipes Revers.jpg" class="img-fluid" style="width: 85%" alt="Home">

            </a>
        </div>
       
    </nav>
   
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="bg-white text-black border-top">
    <div class="container">
        <div class="row foot">
            <div class="col-md-6">
                <h5>About Us</h5>
                <p class="footer-text text-dark">Passionate about cooking and sharing delicious recipes.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Home</a></li>
                    <li><a href="#" class="footer-link">Recipes</a></li>
                    <li><a href="#" class="footer-link">About Us</a></li>
                    <li><a href="#" class="footer-link">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Facebook</a></li>
                    <li><a href="#" class="footer-link">Twitter</a></li>
                    <li><a href="#" class="footer-link">Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr class="divider">
        <div class="text-center">
            &copy; 2024 Cooking Recipes
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
